<h2 class="page-header pt-4 pb-2 border-bottom">Reset Password</h2>
<form class="needs-validation" method="post" #addUserForm="ngForm"  (ngSubmit)="submitForm(addUserForm,user)">
<div class="form-group row">
  <label for="dspby" class="col-sm-3 col-form-label text-right">USERNAME </label>
<div class="col-sm-5">
  <select class="custom-select form-control" [ngClass]="{'is-invalid' : dspby.touched && dspby.invalid, 'is-valid' : dspby.touched && dspby.valid }" id ="dspby" name="dspby" class="form-control"  [(ngModel)]="user.emp" #dspby="ngModel"  >
  <option [ngValue]="emp.USR_ID"  *ngFor="let emp of userName">{{emp.USR_Name}}</option>		
  </select>
</div>
</div>
<div class="form-group row">
<label for="newpass" class="col-sm-3 col-form-label text-right">NEW PASSWORD </label>
<div class="col-sm-5">
  <input type="password" [ngClass]="{'is-invalid' : password.touched && password.invalid, 'is-valid' : password.touched && password.valid }" id ="password" name="password" class="form-control"  pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&+=])(?=\S+$).{8,}$" [(ngModel)]="user.password" #password="ngModel" placeholder="Password" required>
  <small class="form-text text-muted">Password contains one capital one number and one special character.E.g. Usr@12</small>
  <div  [ngClass]="password.touched && password.invalid ? 'invalid-feedback' : 'valid-feedback'" *ngIf="password.touched && password.invalid">
    <span *ngIf="password.errors.required">Password required</span>
    <span *ngIf="password.errors.pattern">Password not valid</span>
  </div>
</div>
</div>
<div class="form-group row">
  <label for="confpass" class="col-sm-3 col-form-label text-right">CONFIRM PASSWORD </label>
  <div class="col-sm-5">
    <input type="password"  id ="confpass" name="confpass" class="form-control" (focusout)="passmatch(user)"  [(ngModel)]="user.confpass"  placeholder="REENTER PASSWORD" required>
 
  </div>
  </div>
<button class="btn btn-primary mt-3">Submit</button>
</form>