<h2 class="page-header pt-4 pb-2 border-bottom">List of Users</h2>
<div class="content table-responsive table-full-width">
	<table class="table table-bordered mt-4">
		<thead class = "thead-dark">
			<tr>
				<th>Sr. No.</th>
				<th>Category</th>
				<th>Type</th>
				<th>Account Number</th>
				<th>Account Name</th>
				<th>Description</th>
				<th>Account Date</th>
				<th>Manage</th>
			</tr>
			</thead>
			<tr *ngFor="let account of accountData ; let i = index">
				<td>{{ i + 1 }}</td>
				<td>{{ account.category }}</td>
				<td>{{ account.type }}</td>
				<td>{{ account.accountNo }}</td>
				<td>{{ account.accountName }}</td>
				<td>{{ account.description }}</td>
				<td>{{ account.accountDate }}</td>
				<td>
					<a [routerLink]="['../add-account', account.id]"><button class="btn btn-primary" ><i class="fas fa-pencil-alt" aria-hidden="true"></i></button> </a> 
						
					<button class="btn btn-danger" (click)="deletedata(account.id, i)"> <i class="fas fa-trash-alt" aria-hidden="true" ></i> </button>
							
				</td>
			</tr>
	</table>
</div>