<h3 class="page-header pt-4 pb-2 border-bottom ">COAL VIEW</h3>
<p></p>
<div class="row">
	<div class="col-md-6"></div>
	<div class="col-md-2">Search</div>
	<div class="col-md-4">
	<input class="form-control" type="text" name="search" [(ngModel)]="searchText">
	<p><p>
 </div>
</div>
<div class="content table-responsive table-full-width">
	<table class="table table-bordered table-sm">
		<thead class = "thead-light">
			<tr>
        <th>SR.No.</th>
        <th>DATE</th>
				<th>EMPLOYEE</th>
				<th>GODOWN</th>
				<th>Manage</th>
			</tr>
			</thead>
			<tr *ngFor="let product of coaldetails | filter: {dat: searchText, emp:searchText,COAL_WH: searchText} | paginate: { itemsPerPage: 10, currentPage: p } ; let i = index">
				<td>{{ i + 1 }}</td>
				<td>{{ product.dat }}</td>
				<td>{{ product.emp }}</td>
				<td>{{ product.COAL_WH }}</td>
				<td>
					<a *ngIf="delete"  [routerLink]="['../coalcons', product.id]"><button class="btn btn-primary " ><i class="fas fa-pencil-alt" aria-hidden="true"></i></button> </a> 

					<!-- <button  class="btn btn-danger"  (click)="deletedata(product.id, i)" > <i class="fas fa-trash-alt" aria-hidden="true" ></i> </button> -->
					<!-- <a [routerLink]="['../../printing/grvprint', product.GR_ID]"> <button class="btn btn-danger"> <i class="fas fa-print" aria-hidden="true" ></i> </button>	</a>	 -->
				</td>
			</tr>

	</table>
	<pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>

