<h2 class = "page-header pt-4 pb-2 border-bottom"><i class="fas fa-home fa-1x mr-3"></i>House / Flat Management</h2>

<div class = "row mt-4">
	<div class = "col-lg-3">
		<div class = "card">
			<div class="card-title mb-0 pb-2 pt-2 pl-1 bg-warning">
				<div class = "row">
					<div class = "col-xs-3">
						<i class="fas fa-plus-circle fa-4x ml-4"></i>
					</div>
					<div class = "col-xs-9"><h5 class = "ml-4 mt-3">Add Flat</h5></div>
				</div>					
			</div>
			<a routerLink = "add-house" class = "card-footer text-left">Add Flat</a>
		</div>
	</div>
	
	<div class = "col-lg-3">
		<div class = "card">
			<div class="card-title mb-0 pb-2 pt-2 pl-1 bg-info">
				<div class = "row">
					<div class = "col-xs-3">
						<i class="fa fa-home fa-4x ml-4"></i>
					</div>
					<div class = "col-xs-9"><h5 class = "ml-4 mt-3">View Flat</h5></div>
				</div>					
			</div>
			<a routerLink = "view-house" class = "card-footer text-left">View Flat</a>
		</div>
	</div>
</div>
	