$fa-font-path : '../node_modules/@fortawesome/fontawesome-free-webfonts/webfonts';

$white : #ffffff;
$black : #000000;
$grey : #808080;
$frmcolor:#fcf7ff;
$ngvalcol:green;
$nginvalcol:red;
$tabicon:10px;
$tabbutton:8px;
$subbutton:#ffffff;
$subbutbkcol:#b300b3;

/*$logocolor : #e53324; // red
$bordercolor : #f6a30a; //orange

$blackshade3 : lighten($colorblack,20%);
$blackshade : lighten($colorblack,30%);
$blackshade5 : lighten($colorblack,95%);
$blackshade1 : lighten($colorblack,50%); //used for anchor
$blackshade2 : lighten($colorblack,80%); // used for text color
$blackshade4 : lighten($colorblack,90%);
$footercolor : #462219;*/

.f-16
{
	font-size : 16px;
}