@import '_variables';

@import '../node_modules/bootstrap/scss/bootstrap';
// @import '../assets/selectsearch';
@import "../node_modules/bootstrap-select/dist/css/bootstrap-select.css";
@import '../node_modules/@fortawesome/fontawesome-free-webfonts/scss/fontawesome';
@import '../node_modules/@fortawesome/fontawesome-free-webfonts/scss/fa-brands';
@import '../node_modules/@fortawesome/fontawesome-free-webfonts/scss/fa-regular';
@import '../node_modules/@fortawesome/fontawesome-free-webfonts/scss/fa-solid';

form
{
	background-color :$frmcolor ;
	padding : 15px 0px 15px 0px;
	label
	{
		font-weight : bold;
	}
	.ng-valid{
	border-left:5px solid $ngvalcol ;
	}
	.ng-invalid{
	border-left:5px solid $nginvalcol ;
	}
	button
	{
		background-color : $subbutbkcol;
		color : $subbutton;
	}
	label{
		text-transform: uppercase;
	}
	th{
		text-transform: uppercase;
	}
}
.tablefixed{
  tbody {
	display:block;
	height:500px;
	overflow:auto;
	word-wrap: break-word;
}
 thead, tbody tr {
	display:table;
	width:100%;
	table-layout:fixed;
	word-wrap: break-word;
}
 thead {
	width: calc( 100% - 1em );
	word-wrap: break-word;
}
}
.container-fluid{
	background-color:#e9ecef !important;
}